.container {
  display: grid;
  padding: 1rem;
  gap: 1rem 0rem;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 7rem));
}

.card {
  width: 5rem;
  height: 7rem;
  display: flex;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  margin: 0;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.score {
  background-color: #BDBDBD !important;
}