.container {
  height: calc(100vh - 4rem);
  width: 20rem;
  background-color: #B3E5FC;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 2rem;
  background-color: #536DFE;
  color: #fff;
  padding: 0 0.5rem;
}

.story {
  background-color: #fff;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.story:hover {
  background-color: #B3E5FC;
}

.selected {
  background-color: #B3E5FC;
  box-shadow: inset 0 0 10px #fff;
}

.p {
  margin: 0;
}

.score {
  margin: 0;
  margin-left: auto;
  font-weight: bold;
}

.containerStories {
  overflow: auto;
}

.buttonnone {
  border: none;
  background: white;
  padding: 0;
  width: 100%;
}
