.container {
  height: calc(100vh - 4rem);
  width: 5rem;
  background-color: var(--background-default);
  display: flex;
  flex-direction: column;
}


.header {
  width: 100%;
  height: 2rem;
  background-color: var(--info);
  color: #fff;
  padding: 0 0.5rem;
}

.story {
  background-color: var(--background-paper);
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.story:hover {
  background-color: var(--info);
  color: var(--background-paper);
}

.selected {
  background-color: var(--info);
  color: var(--background-paper);
}

.p {
  margin: 0;
}

.score {
  margin: 0;
  margin-left: auto;
  font-weight: bold;
}

.containerStories {
  overflow: auto;
}

.buttonnone {
  border: none;
  background: white;
  padding: 0;
  width: 100%;
}


@media (min-width: 700px) { 
  .container {
    height: calc(100vh - 4rem);
    width: 20rem;
    background-color: var(--background-default);
    display: flex;
    flex-direction: column;
  }
 }
